@page "/"
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Chirp.Razor.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

    <div class=body>
        @if (User.Identity?.IsAuthenticated == true) {
          <div class="cheepbox">
            <h3>What's on your mind @(User.Identity.Name)?</h3>
            <form method="post">
                <input type ="text" style="float: left" asp-for="CheepMessageTimeLine" required>
                <input type="submit" asp-page-handler="Submit" value="Share"> <!--value="Share" should be inside submit-->
            </form>
            </div>
        }
    <h2> Public Timeline </h2>
    @{  if (Model.Cheeps != null) 
        {
            
            if (Model.Cheeps.Any()) 
            {
                <ul id="messagelist" class="cheeps">
                @foreach (var cheep in Model.Cheeps)
                    {
                        <li>
                            <p>
                                <strong>
                                    <a href="/@cheep.AuthorName">@cheep.AuthorName</a>
                                    @if (User.Identity?.IsAuthenticated == true) {
                                        if (!await Model.DoesFollow(cheep.AuthorName)) 
                                        {
                                            // Link to page that adds the author to the following list of the current user and redirects back to the current page
                                            <a href="?follow=@cheep.AuthorName">follow</a>
                                        } 
                                        else 
                                        {
                                            // Link to page that removes the author from the following list of the current user and redirects back to the current page
                                            <a href="?unfollow=@cheep.AuthorName">unfollow</a>
                                        }
                                    }
                                </strong>
                                <br />
                                <span>@cheep.Message</span>
                                <small>&mdash; @cheep.Timestamp</small>
                            </p>
                            <div class="likesContainer">
                                <form asp-page-handler="Like" method="post">
                                    <button value="@cheep.CheepId">Like</button>
                                </form>
                                <small>Likes: </small>@cheep.Likes
                            </div>
                        </li>
                    }
                </ul> 
                <div class="pageNumber">
                    <span>Page:</span>
                    @for (int i = 1; i < ((Model._service.GetCountOfAllCheeps()/32)+2); i++)
                    {   
                        <button onclick="location.href='?page=@i'">@i</button>
                    }
                </div>
            }
            else
            {
                <em>There are no cheeps so far.</em>
            }
        }
    }
</div>

